/* VARIABLES */
:root {
	--couleurPrincipale: #0d1117;
	--couleurTexte     : #FFFFFF;
	--couleurAccent     : #14192e;
}

/* Éléments de base */
body {
	background-color: var(--couleurPrincipale);
	color           : var(--couleurTexte);
	font-family     : Roboto, monospace;
	margin          : 0;

	min-height    : 100vh;
	display       : flex;
	flex-direction: column;

}

main {
	flex         : 1;
	align-self   : center;
	max-width    : 1440px;
	text-align   : center;
	margin-bottom: 24px;
}

header,
footer {
	background-color: var(--couleurAccent);
}

footer {
	text-align: center;
}

header img {
	display: inline-block;
	width  : 150px;
	padding: 1em;
}

main img {
	display: block;
}

#galerie.flex {
	display        : flex;
	flex-wrap      : wrap;
	justify-content: space-around;

	row-gap   : 16px;
	column-gap: 16px;
}

#superposition{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.66);
	z-index: 999;

	display: flex;
	flex-direction: column;
	margin : 0 auto;
}

#superposition img {
	max-width: max(100vh, 100%);
	margin : min(10vh, 10%) auto;
}

#superposition p {
	color: white;
	background-color: rgba(0, 0, 0, 0.66);
	width: 50%;
	margin : 0 auto;
}

/* TODO : grid fonctionnel */
/* #galerie.grid {
	width: 100%;
	display              : grid;
	grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
	gap                  : 16px;
} */
