/* FONT */
/* Nunito Sans */
/*
 * Les polices de caractères sont importées depuis Google Fonts.
 * On utilise une instruction @import pour importer les polices depuis la source voulu.
 * Les instruction @import doivent être placées en début de fichier.
 */
/* TODO: Remplacez la valeur de l'URL par l'URL de la police que vous souhaitez utiliser. */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* VARIABLES */
/*
 * Les variables CSS sont déclarées dans le sélecteur :root.
 * Elles sont accessibles partout dans le fichier CSS.
 * On peut les utiliser pour définir des couleurs, des tailles, des polices, etc.
 *
 * Il y a plusieurs façons de définir une couleur en CSS :
 * - les valeurs hexadécimales (ex: #FF0000, #00FF00, #0000FF)
 * - les noms de couleurs (ex: red, blue, green)
 * - les valeurs HSL (ex: hsl(0, 100%, 50%), hsl(120, 100%, 50%), hsl(240, 100%, 50%))
 * - les valeurs RGB (ex: rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255))
 * - Il est possible de remplacer RGB pou RGBA afin d'ajouter de la transparence.
 */
/* TODO: Changez les valeurs des variables pour modifier l'apparence de votre site. */
:root {
	--couleurPrincipale: #0d1117;
	--couleurTexte     : white;
	--couleurAccent    : hsl(228, 39%, 13%);
	--couleurFlou      : rgba(0, 0, 0, 0.7);
}

.flex {
	/* TODO: Changer le mode d'affichage pour 'display: flex;' */
	display: inline;
}


/* Éléments de base */
body {
	/*
	 * font-family définit la police de caractères utilisée pour le texte.
	 */
	/* TODO: Changez la font-family pour afficher votre police de choix */
	font-family: 'Nunito Sans', monospace;



	background-color: var(--couleurPrincipale);
	color           : var(--couleurTexte);
	margin          : 0;

	min-height    : 100vh;
	flex-direction: column;

}

main {
	flex         : 1;
	align-self   : center;
	max-width    : 1440px;
	text-align   : center;
	margin-bottom: 24px;
}

header,
footer {
	background-color: var(--couleurAccent);
}

footer {
	text-align: center;
}

header img {
	display: inline-block;
	width  : 150px;
	padding: 1em;
}

main img {
	display: block;
}

#galerie.flex {
	flex-wrap      : wrap;
	justify-content: space-around;

	row-gap   : 16px;
	column-gap: 16px;
}

#galerie img {
	cursor: zoom-in;
}

#superposition {
	position        : absolute;
	top             : 0;
	left            : 0;
	width           : 100%;
	height          : 100%;
	background-color: var(--couleurFlou);
	z-index         : 999;

	display       : flex;
	flex-direction: column;
	margin        : 0 auto;

	cursor: zoom-out;
}

#superposition img {
	max-width: max(100vh, 100%);
	margin   : min(10vh, 10%) auto;
}

#superposition p {
	color           : white;
	background-color: var(--couleurFlou);
	width           : 50%;
	margin          : 0 auto;
}


/* LIENS et README */
a,
a:link,
a:hover{
	color:aquamarine
}
img[alt=logo]{
	width: 100px;
} 
blockquote{
	background-color: grey; 
}